Repository EDCD/EDMarketConnector, pull requests merged in 2022-12, with the labels that each got.

#1735 Inara: Drop various combat messages if empty opponentName
  plugins/inara.py
Labels: Inara

#1736 Improve CAPI code for Legacy/Live split
  EDMarketConnector.py
  L10n/en.template
  PLUGINS.md
  companion.py
  plugins/eddn.py
Labels: CAPI, EDDN

#1740 Get everything passing flake8 checks
  .github/workflows/pr-checks.yml
  .github/workflows/push-checks.yml
  EDMarketConnector.py
  config/linux.py
  journal_lock.py
  loadout.py
  myNotebook.py
  plug.py
  plugins/eddb.py
  plugins/edsm.py
  plugins/edsy.py
  protocol.py
  scripts/killswitch_test.py
  shipyard.py
  td.py
  theme.py
  ttkHyperlinkLabel.py
  update.py
  util_ships.py
Labels: devtools, python

#1744 eddn: Ensure CAPI-sourced messages have uploaderID set
  plugins/eddn.py
Labels: bug, CAPI, EDDN

#1746 monitor/NavRoute: Load NavRoute after catching_up ends.
  PLUGINS.md
  monitor.py
Labels: Plugins

#1747 CAPI: Enable use of Legacy host when applicable.
  .mypy.ini
  EDMarketConnector.py
  PLUGINS.md
  companion.py
  plug.py
  plugins/eddn.py
  td.py
Labels: enhancement, CAPI, EDDN

#1754 EDMC.py quietening and fixes
  EDMC.py
  monitor.py
  plugins/eddn.py
Labels: bug, EDDN

#1759 companion: A start on adding CAPI killswitches
  .mypy.ini
  .pre-commit-config.yaml
  EDMarketConnector.py
  PLUGINS.md
  companion.py
  docs/Killswitches.md
  killswitch.py
  plugins/eddn.py
Labels: CAPI, EDDN

#1781 Make mypy happy on linux
  Build-exe-and-msi.py
  EDMarketConnector.py
  config/linux.py
  hotkey/darwin.py
  hotkey/linux.py
  hotkey/windows.py
  myNotebook.py
  protocol.py
  tests/config/_old_config.py
Labels: code cleanup, python, Linux
