Repository EDCD/EDMarketConnector, pull requests merged in 2024-03, with the labels that each got.

#2164 [1181] Save Coriolis URL override when changing languages
  L10n/en.template
  plugins/coriolis.py
Labels: bug, Plugins, ui, Ready for Review

#2165 [2163] Update Inara plugin to better handle Thargoid Combat events
  plugins/inara.py
Labels: bug, enhancement, Plugins, Inara

#2170 [#635] Properly Convert Message Object from OrderedDict
  plugins/eddn.py
Labels: bug

#2179 [#901] Add Additional Status for Incomplete Logins
  EDMarketConnector.py
  L10n/en.template
Labels: enhancement, python, ui, Ready for Review

#2181 [2176] Fix Outfitting Split
  outfitting.py
Labels: bug

#2182 [2155] Add DockingDenied and DockingGranted Schemas
  plugins/eddn.py
Labels: EDDN, Ready for Review
